header {
    background-color: #D39D78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    position: fixed;
    width: 100%;
    z-index: 10;
    h1 {
        margin-left: 2%;
        font-size: 24px;
        font-weight: 700;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 40%;
        .input {
            width: 80%;
            height: 70%;
            border: none;
            border-radius: 5px 0 0 5px;
        }
        button {
            background-color: #A87E5D;
            width: 80px;
            border-radius: 0 5px 5px 0 ;
            border: none;
            height: 70%;
            svg {
                fill: white;
                margin: 0 auto;
            }
        }
    }
}

.left-wrapper {
    background-color: #E9C0A0;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 10%;
    .owner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        p {
            padding-top: 5px;
            font-size: 18px;
            font-weight: 500;
        }
        img {
            width: 100px;
            border-radius: 50% 50%;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        .btn {
            margin: 15px 0;
            padding: 15px;
            a {
                margin-left: 10%;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                svg {
                    margin-right: 10px;
                }
            }
            &:hover {
                background-color: #F4E3D7;
            }
        }
        .checked {
            background-color: #F4E3D7;
        }
    }
}

.modal{
    display: none;
  }
  .modal.is-open {
    display: block;
  }
